<div data---="part__common.page__if:flow;url:/parts/flow.html;delay:10"></div>
<div data---="part__common.page__if:componenteditor;url:/parts/component.html;invisible:1;reload:?/reload"></div>

<div data---="importer__common.form__if:customcodeform;url:/forms/code.html"></div>
<div data---="importer__common.form__if:componentsform;url:/forms/components.html"></div>

<script>

	common.logs = {};
	common.logs.errors = { icon: 'fas fa-exclamation-circle', name: '@(Errors)', encode: false, items: [] };
	common.page = 'flow';

	SETTER(true, 'shortcuts/register', 'CMD+F, CTRL+F', function() {
		$('.ui-layout-left').find('input').focus();
	}, true);

	SETTER(true, 'shortcuts/register', 'CMD+ENTER, CTRL+ENTER', function() {
		if (common.page === 'flow' && !common.form)
			EXEC('flow/submit');
	}, true);

	$(document).on('click', function() {
		common.flowstreamid && W.parent.postMessage(STRINGIFY({ TYPE: 'focus', SOURCE: 'flow', id: common.flowstreamid }), '*');
	});

</script>